@use '../../../style/variables' as *;
@use '../../../style/mixins' as *;

.wrapper {
  margin: rem(40px) 0 0 rem(41px);

  @include media('<=xl') {
    margin-top: rem(22px);
  }
  @include media('<=md') {
    margin-top: rem(40px);
  }
  @include media('<=sm') {
    margin-left: rem(16px);
  }
  @include media('<=xs') {
    margin-top: rem(24px);
  }
  > h3 {
    color: $brand-black-text;
    font-family: $font-openSans-bold;
    font-size: rem(22px);
    line-height: rem(30px);
    margin: 0 0 rem(16px) 0;

    @include media('<=xl') {
      margin-bottom: rem(8px);
    }
    @include media('<=md') {
      margin-bottom: rem(16px);
    }
    @include media('<=sm') {
      margin-bottom: rem(8px);
    }
    @include media('<=xs') {
      line-height: rem(28px);
    }
  }
}

.wrapper-ios {
  > h3 {
    font-family: $font-sf-pro-text-regular;
  }
}

.wrapper-windows {
  > h3 {
    font-family: $font-Segoe-regular;
  }
}
