// @use '../../../style/variables' as v;
// @use '../../../style/mixins' as m;

$spinner-size: (
  large: 80px,
  medium: 40px,
  small: 20px,
  xsmall: 10px,
);

$spinner-size: (
  large: 80px,
  medium: 40px,
  small: 20px,
  xsmall: 10px,
);

@mixin spinner-size {
  @each $name, $size in $spinner-size {
    &.#{$name} {
      height: $size;
      width: $size;
      &:after {
        box-shadow: $size/25 $size/25 $size/25 #a5a6ac;
      }
    }
  }
}

.loader {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .spinner {
    animation: loading-spin 1s infinite linear;
    background-color: transparent;
    border-radius: 100%;
    display: inline-block;
    position: relative;

    @include spinner-size();

    &:after {
      border: 5px solid transparent;
      border-radius: 100%;
      bottom: 0;
      box-sizing: border-box;
      content: '';
      display: inline-block;
      height: 110%;
      left: -5%;
      position: absolute;
      right: 0;
      top: -5%;
      width: 110%;
    }
  }

  @keyframes loading-spin {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }
}
